/* src/components/Footer.css */
.footer {
    background-color: #343a40;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    margin: 0 auto;
    max-width: 1000px;
  }
  
  .footer p {
    margin: 10px 0;
  }
  